:root {
    /* Paleta Bartel */
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #555555;
    
    /* Tipografía */
    --font-main: 'DM Sans', sans-serif;    
    /* Medidas */
    --padding-std: 40px;
    --nav-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}